{% extends "base.html" %}

{% block mast_heading %}
	<h1>Oscar Wager</h1>
{% endblock %}

{% block content %}
<p>Make a wager with your friends on the results of the <strong><a href="http://oscar.go.com/">83rd Annual Academy Awards</a></strong>.</p>
<p>Play for money, forfeit or just pride. Make your predictions for the winners in the 24 categories.</p>
<section>
	<h1>Create a wager</h1>
	<form method="post">
		<label>
			<span>Name your wager <strong>(required)</strong></span>
			<input type="text" name="name" placeholder="Give it a name your friends will recognise" />
		</label>
		{% if wager_form.name.errors %}
		<ul class="errors">
		    {% for error in wager_form.name.errors %}
		    <li>{{ error|escape }}</li>
		    {% endfor %}
	    </ul>
		{% endif %}
		<label>
	        <span>What's at stake?</span>
	        <textarea name="description" placeholder="Money?, Beer?, Your immortal soul?"></textarea>
	    </label>
	    {% if wager_form.description.errors %}
	    <ul class="errors">
	        {% for error  in wager_form.descriptions.errors %}
	        <li>{{ error|escape }}</li>
	        {% endfor %}
	    </ul>
	    {% endif %}
		<div class="actions">
			<button type="submit">Start your wager</button>
		</div>
	</form>
</section>
{% endblock %}