{% extends "base.html" %}

{% block mast_heading %}
	<h1>Oscar Wager</h1>
{% endblock %}

{% block content %}
<div class="intro">
<p>Make a wager with your friends on the results of the <strong><a href="http://oscar.go.com/">83rd Annual Academy Awards</a></strong>.</p>
<p>Play for money, forfeit or just pride. Make your predictions for the winners in the 24 categories.</p>
</div>
<section>
	<h1>The Awards have started!</h1>
	<p>We plan to run new wagers in the future. Follow us at <a href="http://twitter.com/wagerhq">@wagerhq</a> to find out more!</p>
</section>
{% endblock %}