{% extends "base.html" %}

{% block js %}
<script src="/static/js/app.js"></script>
{% endblock %}

{% block content %}
<h1>{{ wager.name }}</h1>
<div class="instructions">
	<p>Make your prediction for the following category:</p>
</div>
<section class="picker">
	<header>
		<h1>{{ award.name }}</h1>
		<h2><b>Category</b> {{ picked_total }} <b>of</b> {{ awards_total }}</h2>
	</header>
	<form method="post">
		<ul>
		    {% for entry in entries %}
			<li>
				<label>
					<input type="radio" name="winner" value="{{ entry.id }}" />
					<img src="{% firstof entry.getPoster '/static/images/oscar-statue.png' %}" width="100" />
					<strong>{{ entry.name }}</strong>
					{% if entry.reference %}
					<span>{{ entry.reference }}</span>
					{% endif %}
				</label>
			</li>
			{% endfor %}
		</ul>
		{% if pick_form.entry.errors %}
		<ul>
		    {% for error in pick_form.entry.errors %}
		    <li class="errors">
		        {{ error|escape }}
		    </li>
		    {% endfor %}
		</ul>
		{% endif %}
		<div class="actions">
			<button type="submit">Next</button>
		</div>
	</form>
</section>
{% endblock %}