{% extends "base.html" %}

{% block content %}
<h1>{{ wager.name }}</h1>
<div class="instructions">
	<p>Make your prediction for the following category:</p>
</div>
<section class="picker">
	<h1>{{ award.name }}</h1>
	<form method="post">
		<ul>
		    {% for entry in entries %}
			<li>
				<label>
					<input type="radio" name="winner" value="{{ entry.id }}" />
					<strong>{{ entry.name }}</strong>
					{% if entry.reference %}
					<span>{{ entry.reference }}</span>
					{% endif %}
				</label>
			</li>
			{% endfor %}
		</ul>
		<button type="submit">Next</button>
	</form>
</section>
{% endblock %}