{% extends "base.html" %}

{% block page-title %}{{ wager.name }} — {% endblock %}

{% block content %}
<h1>{{ wager.name }}</h1>
{% if wager.description %}
<p>{{ wager.description }}</p>
{% endif %}
<section id="users">
	<h1>Who's in?</h1>
	{% if not users %}
	<p>So no one joined your wager? That sucks.</p>
	{% endif %}
	{% if users %}
		<ul id="users">
	        {% for user in users %}
	        <li class="vcard">
				<img src="{{ user.gravatar_url }}" />
				<span class="fn">{{ user.name }}</span>
			</li>
	        {% endfor %}
		</ul>
	</section>
	{% endif %}
</section>
{% endblock %}