<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title></title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">

  <link rel="shortcut icon" href="/static/favicon.ico">
  <link rel="apple-touch-icon" href="/static/apple-touch-icon.png">

  <link rel="stylesheet" href="/static/css/style.css" />
  {% block css %}
  {% endblock %}

  {% block preload_js %}
  {% endblock %}

  {% block extra-head %}{% endblock %}
</head>
<body>
	<script>
	document.documentElement.className = document.documentElement.className.replace('no-js', 'js')
	</script>
	<header id="mast-head">
		{% block mast_heading %}
			<a href="/">Oscar Wager</a>
		{% endblock %}
	</header>
	<div id="content">
{% block content %}
{% endblock %}
    </div>
    <footer id="page-footer">
		<p class="disclaimer">This site is not associated with or endorsed by The Academy of Motion Picture Arts and Sciences.</p>
    </footer>
	<script src="/static/js/jquery-1.4.2.min.js"></script>
{% block js %}
{% endblock %}
</body>
</html>